.carousel-control-prev-icon, .carousel-control-next-icon
{
  border: 3px solid #131c61;
  border-radius: 50%;
}

.carousel-control-prev-icon
{
  background-image: none;
  color: #131c61;
}
.carousel-control-next-icon
{
  background-image: none;
  color: #131c61;
}

.carousel-item
{
  height: 543px;
}

.carousel-item img
{
  height: 100%;
}

.close-link
{
    top: 20px;
    font-size: 45px;
    z-index: 3;
    line-height: 45px;
}

.carousel-inner {
    width: 90%;
    margin: 0 auto;
}

.carousel-control-prev, .carousel-control-next
{
  width: 10%;
}


.bi-x::before
{
  line-height: normal;
}