@media (min-width: 992px) {
.sideBlueBox
{
	position: fixed;
	width:25%; 
	padding-right: 1.5rem !important;
}
.sideBlueBoxLeft
{
	position: fixed;
	width:25%; 
	padding-right: 0.5rem !important;
}
}

@media (max-width: 991px) {
#megamenuDropdown .text-light {
  color: #000 !important;
}
.fixed-div {
  min-width: 23.5%;
}
.fixed-div {
  position: relative;
  width: 100%;
}
.cus-drop-memu-two.dropdown-menu.show {
  margin-top: 10px;
  width: 100%;
  position: relative;
}
.w-25
{
	width: 70% !important;
}
}
